<div class="row d-flex justify-content-center">
	<div class="col-8 col-lg-4">
		<h3 class="text-center mb-5">Welcome to IEEE Payment Portal</h3>

		<figure>
			<blockquote class="blockquote">
				<p>If you are an IEEE-MEMBER PAY: RS 299</p>
				<p>If you are an IEEE-MEMBER PAY: RS 499</p>
			</blockquote>
			<figcaption class="blockquote-footer">
				IEEE-JUSB
			</figcaption>
		</figure>
		
		<div class="d-grid mt-4">
			<a href="/payment" type="button" class="btn btn-primary">PAY</a>
			<div class="form-text text-center">Please pay, uparwala tumhara bhala karega.</div>
		</div>
	</div>
</div>