<div class="d-flex justify-content-center">

	<!-- form design to be changed -->
	<form method="POST" action="/payment/order">
		<div class="mb-3">
		  <label for="amountInput" class="form-label">Enter Amount</label>
		  <input name="amount" type="number" min="1" class="form-control form-control-lg" id="amountInput" aria-describedby="amountHelp" required>

		  <!-- name -->
		  <label for="amountInput" class="form-label">Enter Name</label>
		  <input name="name" type="text" class="form-control form-control-lg" id="name" aria-describedby="amountHelp" required>

		  <!-- email -->
		  <label for="amountInput" class="form-label">Enter Email</label>
		  <input name="email" type="email" class="form-control form-control-lg" id="email" aria-describedby="amountHelp" required>
		
		  <!-- phone-number -->
		  <label for="amountInput" class="form-label">Enter Email</label>
		  <input name="email" type="email" class="form-control form-control-lg" id="email" aria-describedby="amountHelp" required>

		  <!-- college -->
		  <label for="amountInput" class="form-label">Enter Email</label>
		  <input name="email" type="email" class="form-control form-control-lg" id="email" aria-describedby="amountHelp" required>

		<!-- year of passing -->
		  <label for="amountInput" class="form-label">Enter Email</label>
		  <input name="email" type="email" class="form-control form-control-lg" id="email" aria-describedby="amountHelp" required>


		  <!-- address -->
		  <label for="amountInput" class="form-label">Enter Email</label>
		  <input name="email" type="email" class="form-control form-control-lg" id="email" aria-describedby="amountHelp" required>

			<!-- ieee-id -->
		  <label for="amountInput" class="form-label">Enter Email</label>
		  <input name="email" type="email" class="form-control form-control-lg" id="email" aria-describedby="amountHelp" required>

		  <div id="amountHelp" class="form-text">Bhaiyon aur Beheno, ek rupaiya, sau rupaiya. Kuch bhi chalega.</div>
		</div>

		<div class="d-grid">
			<button type="submit" class="btn btn-primary" id="getOrderIdBtn">Submit</button>
		</div>
	</form>
</div>